In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("ConsolidateOutput.csv")
print(df.shape)
print(df.head(2))

(168467, 7)
       Order Date Order ID Price Each                     Product  \
0  08/31/19 22:21   236670      11.99            Wired Headphones
1  08/15/19 15:11   236671      99.99  Bose SoundSport Headphones

                   Purchase Address Quantity Ordered  \
0  359 Spruce St, Seattle, WA 98101                2
1    492 Ridge St, Dallas, TX 75001                1

                         file
0  Data\Sales_August_2019.csv
1  Data\Sales_August_2019.csv

In [3]:
df.dtypes

Order Date          object
Order ID            object
Price Each          object
Product             object
Purchase Address    object
Quantity Ordered    object
file                object
dtype: object

In [4]:
print(df.isnull().sum())

Order Date          486
Order ID            486
Price Each          486
Product             486
Purchase Address    486
Quantity Ordered    486
file                  0
dtype: int64

In [4]:

print(df.dropna(inplace=True))
print(df.shape)

None
(167981, 7)

In [5]:
print(df.duplicated().sum())
#print(df[df.duplicated()])

551

## DROP DUPLICATES

In [6]:
print(df.drop_duplicates(inplace=True))
print(df.duplicated().sum())

None
0

In [7]:
df.shape

(167430, 7)

In [8]:
# Count the irregular data and drop the data based on the boolean condition

df = df.drop(df[df['Order ID'] == 'Order ID'].index)
df.shape

(167419, 7)

In [9]:
print(df[df['Order ID'] == 'Order ID'])

Empty DataFrame
Columns: [Order Date, Order ID, Price Each, Product, Purchase Address, Quantity Ordered, file]
Index: []

## Find UNIQUE & NUNIQUE

In [10]:
print(df.nunique())
# We get to know that the Order ID is not primary it has duplicates (6519) in it.
print(df['Order ID'].duplicated().sum())

Order Date          128812
Order ID            160900
Price Each              23
Product                 19
Purchase Address    129785
Quantity Ordered         9
file                    11
dtype: int64
6519

In [11]:
# Convert OBject to Float64
# 'Price Each' is float value (numeric) so it  first converts object to float 
# 'Quantity Ordered' is integer value so it converted directly from object to int
df['Price Each'] = pd.to_numeric(df['Price Each'])
df['Quantity Ordered'] = pd.to_numeric(df['Quantity Ordered'])
df.dtypes

Order Date           object
Order ID             object
Price Each          float64
Product              object
Purchase Address     object
Quantity Ordered      int64
file                 object
dtype: object

In [12]:
# Convert Float64 to int64  Here we need not to convert float to int as it is 'PRICE' so it will change the whle data .
#df['Price Each'] = df['Price Each'].astype(np.int64)
df.dtypes

Order Date           object
Order ID             object
Price Each          float64
Product              object
Purchase Address     object
Quantity Ordered      int64
file                 object
dtype: object

In [13]:
df.head(3)

,Order Date,Order ID,Price Each,Product,Purchase Address,Quantity Ordered,file
0,08/31/19 22:21,236670,11.99,Wired Headphones,"359 Spruce St, Seattle, WA 98101",2,Data\Sales_August_2019.csv
1,08/15/19 15:11,236671,99.99,Bose SoundSport Headphones,"492 Ridge St, Dallas, TX 75001",1,Data\Sales_August_2019.csv
2,08/06/19 14:40,236672,700.00,iPhone,"149 7th St, Portland, OR 97035",1,Data\Sales_August_2019.csv

## Strip Column to remove extra characters

In [14]:
df['file'] = df['file'].str.rstrip('_2019.csv')

df['file'] = df['file'].str.lstrip('Data\\')
print(df['file'].unique())

['Sales_August' 'Sales_December' 'Sales_February' 'Sales_January'
 'Sales_July' 'Sales_June' 'Sales_March' 'Sales_May' 'Sales_November'
 'Sales_October' 'Sales_September']

In [52]:
df.head(1)

,Order Date,Order ID,Price Each,Product,Purchase Address,Quantity Ordered,file
0,08/31/19 22:21,236670,11.99,Wired Headphones,"359 Spruce St, Seattle, WA 98101",2,Sales_August

## Copy of df

In [15]:
df_new=df
df_new.head()

,Order Date,Order ID,Price Each,Product,Purchase Address,Quantity Ordered,file
0,08/31/19 22:21,236670,11.99,Wired Headphones,"359 Spruce St, Seattle, WA 98101",2,Sales_August
1,08/15/19 15:11,236671,99.99,Bose SoundSport Headphones,"492 Ridge St, Dallas, TX 75001",1,Sales_August
2,08/06/19 14:40,236672,700.00,iPhone,"149 7th St, Portland, OR 97035",1,Sales_August
3,08/29/19 20:59,236673,3.84,AA Batteries (4-pack),"631 2nd St, Los Angeles, CA 90001",2,Sales_August
4,08/15/19 19:53,236674,3.84,AA Batteries (4-pack),"736 14th St, New York City, NY 10001",2,Sales_August

## NEW COLUMN added (LAMBDA )

In [16]:
df_new['Total Price']=df_new['Price Each']* df_new['Quantity Ordered']
df_new.head(5)

OR Using Lambda (Feature Engineering)

df_new.loc[:,'Total']=df_new.loc[:,('Price Each',"Quantity Ordered")].apply(lambda x: (x["Price Each"]*x["Quantity Ordered"]),axis=1)
# adding 5 to each value of Price Each Column 
df_new.loc[:,'Price Each']=df_new.loc[:,('Price Each')].apply(lambda num : num + 5)
df_new.head()

,Order Date,Order ID,Price Each,Product,Purchase Address,Quantity Ordered,file,Total Price
0,08/31/19 22:21,236670,11.99,Wired Headphones,"359 Spruce St, Seattle, WA 98101",2,Sales_August,23.98
1,08/15/19 15:11,236671,99.99,Bose SoundSport Headphones,"492 Ridge St, Dallas, TX 75001",1,Sales_August,99.99
2,08/06/19 14:40,236672,700.00,iPhone,"149 7th St, Portland, OR 97035",1,Sales_August,700.00
3,08/29/19 20:59,236673,3.84,AA Batteries (4-pack),"631 2nd St, Los Angeles, CA 90001",2,Sales_August,7.68
4,08/15/19 19:53,236674,3.84,AA Batteries (4-pack),"736 14th St, New York City, NY 10001",2,Sales_August,7.68

In [19]:
# Saving to a CSV file
df_new.to_csv("myDataFrame2.csv")

In [385]:
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
import matplotlib
plt.style.use('ggplot')
from matplotlib.pyplot import figure

%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (12,8)

pd.options.mode.chained_assignment = None

## GroupBy MOnths column 'FILE'

In [55]:
#  What was the best month for sales? How much was earned that month?
# We are considering the Quantitity Ordered is the factor to tell best month for sales.

df_file=df.groupby(df['file'])
df_sum=df_file.sum()
print(df_sum)

                 Price Each  Quantity Ordered  Total Price
file
Sales_August     2226915.16             13423   2241027.80
Sales_December   4588971.31             28081   4614149.48
Sales_February   2188395.36             13443   2201536.90
Sales_January    1804170.09             10858   1814491.55
Sales_July       2630372.11             16051   2645585.25
Sales_June       2560974.47             15236   2576771.19
Sales_March      2791048.41             16980   2806936.27
Sales_May        3125106.68             18643   3142594.28
Sales_November   3178176.85             19779   3197181.08
Sales_October    3713757.01             22671   3734935.03
Sales_September  2083148.24             13101   2095722.26

In [16]:
# To make the decimal limit upto 2 so that python will not convert it to log e power.
pd.options.display.float_format='{:.2f}'.format

## Solution 1) DECEMBER is best month for sales & total Price value is

In [58]:
print(df_sum.sort_values(by='Quantity Ordered'))
print(df.head(1))
best_month=df_sum.sort_values(by='Quantity Ordered')
print()
print(" TOtal Price of the December Month with highest sales: \n",best_month.nlargest(1,'Total Price'))

                 Price Each  Quantity Ordered  Total Price
file
Sales_January    1804170.09             10858   1814491.55
Sales_September  2083148.24             13101   2095722.26
Sales_August     2226915.16             13423   2241027.80
Sales_February   2188395.36             13443   2201536.90
Sales_June       2560974.47             15236   2576771.19
Sales_July       2630372.11             16051   2645585.25
Sales_March      2791048.41             16980   2806936.27
Sales_May        3125106.68             18643   3142594.28
Sales_November   3178176.85             19779   3197181.08
Sales_October    3713757.01             22671   3734935.03
Sales_December   4588971.31             28081   4614149.48
       Order Date Order ID  Price Each           Product  \
0  08/31/19 22:21   236670       11.99  Wired Headphones

                   Purchase Address  Quantity Ordered          file  \
0  359 Spruce St, Seattle, WA 98101                 2  Sales_August

   Total Price
0        23.98

 TOtal Price of the December Month with highest sales:
                 Price Each  Quantity Ordered  Total Price
file
Sales_December  4588971.31             28081   4614149.48

## Solution 5) Product most selled with quantity 28053.0

In [59]:
df_product=df.groupby(df['Product'])
df_productsum=df_product.sum()
print(df_productsum)

                            Price Each  Quantity Ordered  Total Price
Product
20in Monitor                 407952.91              3732    410482.68
27in 4K Gaming Monitor      2208123.38              5674   2212803.26
27in FHD Monitor            1014532.36              6804   1020531.96
34in Ultrawide Monitor      2099444.75              5540   2105144.60
AA Batteries (4-pack)         71024.64             24794     95208.96
AAA Batteries (4-pack)        55691.74             28053     83878.47
Apple Airpods Headphones    2101800.00             14114   2117100.00
Bose SoundSport Headphones  1201879.80             12144   1214278.56
Flatscreen TV               1301100.00              4355   1306500.00
Google Phone                2964600.00              4948   2968800.00
LG Dryer                     341400.00               569    341400.00
LG Washing Machine           363000.00               605    363000.00
Lightning Charging Cable     290254.25             20804    311019.80
Macbook Pro Laptop          7255600.00              4270   7259000.00
ThinkPad Laptop             3733962.66              3736   3735962.64
USB-C Charging Cable         236418.80             21665    258896.75
Vareebadd Phone              738000.00              1848    739200.00
Wired Headphones             203350.40             18459    221323.41
iPhone                      4302900.00              6152   4306400.00

In [60]:
print(df_productsum.sort_values(by='Quantity Ordered'))
print()
best_product=df_productsum.sort_values(by='Quantity Ordered')
print(" Quantity of the product selled most with highest sales \n",best_product.nlargest(1,'Quantity Ordered'))
print()

                            Price Each  Quantity Ordered  Total Price
Product
LG Dryer                     341400.00               569    341400.00
LG Washing Machine           363000.00               605    363000.00
Vareebadd Phone              738000.00              1848    739200.00
20in Monitor                 407952.91              3732    410482.68
ThinkPad Laptop             3733962.66              3736   3735962.64
Macbook Pro Laptop          7255600.00              4270   7259000.00
Flatscreen TV               1301100.00              4355   1306500.00
Google Phone                2964600.00              4948   2968800.00
34in Ultrawide Monitor      2099444.75              5540   2105144.60
27in 4K Gaming Monitor      2208123.38              5674   2212803.26
iPhone                      4302900.00              6152   4306400.00
27in FHD Monitor            1014532.36              6804   1020531.96
Bose SoundSport Headphones  1201879.80             12144   1214278.56
Apple Airpods Headphones    2101800.00             14114   2117100.00
Wired Headphones             203350.40             18459    221323.41
Lightning Charging Cable     290254.25             20804    311019.80
USB-C Charging Cable         236418.80             21665    258896.75
AA Batteries (4-pack)         71024.64             24794     95208.96
AAA Batteries (4-pack)        55691.74             28053     83878.47

 Quantity of the product selled most with highest sales
                         Price Each  Quantity Ordered  Total Price
Product
AAA Batteries (4-pack)    55691.74             28053     83878.47

In [62]:
df.head(2)

,Order Date,Order ID,Price Each,Product,Purchase Address,Quantity Ordered,file,Total Price
0,08/31/19 22:21,236670,11.99,Wired Headphones,"359 Spruce St, Seattle, WA 98101",2,Sales_August,23.98
1,08/15/19 15:11,236671,99.99,Bose SoundSport Headphones,"492 Ridge St, Dallas, TX 75001",1,Sales_August,99.99

## Question 2 which city has most product sold

In [66]:
df[['Street','City','State']] = df['Purchase Address'].str.split(",",expand=True)
print(df.head(1))
df = df.drop(["Street", "State"], axis=1)
print(df.head(1))

       Order Date Order ID  Price Each           Product  \
0  08/31/19 22:21   236670       11.99  Wired Headphones

                   Purchase Address  Quantity Ordered          file  \
0  359 Spruce St, Seattle, WA 98101                 2  Sales_August

   Total Price      City         Street      State
0        23.98   Seattle  359 Spruce St   WA 98101
       Order Date Order ID  Price Each           Product  \
0  08/31/19 22:21   236670       11.99  Wired Headphones

                   Purchase Address  Quantity Ordered          file  \
0  359 Spruce St, Seattle, WA 98101                 2  Sales_August

   Total Price      City
0        23.98   Seattle

In [70]:
df_city=df.groupby(df['City'])
df_citysum=df_city.sum()
print(df_citysum)

                Price Each  Quantity Ordered  Total Price
City
 Atlanta        2495755.71             14953   2509771.05
 Austin         1636852.38             10045   1645360.74
 Boston         3283070.59             20307   3305162.43
 Dallas         2498462.28             15190   2512658.43
 Los Angeles    4869364.41             29853   4897088.94
 New York City  4190660.73             25167   4215412.23
 Portland       2066495.88             12638   2078203.83
 San Francisco  7393701.96             45185   7437707.67
 Seattle        2456671.75             14928   2469565.77

In [72]:
print(df_citysum.sort_values(by='Quantity Ordered'))
print()
best_city=df_citysum.sort_values(by='Quantity Ordered')
print(" Quantity of the product selled most with highest sales \n",best_city.nlargest(1,'Quantity Ordered'))
print()

                Price Each  Quantity Ordered  Total Price
City
 Austin         1636852.38             10045   1645360.74
 Portland       2066495.88             12638   2078203.83
 Seattle        2456671.75             14928   2469565.77
 Atlanta        2495755.71             14953   2509771.05
 Dallas         2498462.28             15190   2512658.43
 Boston         3283070.59             20307   3305162.43
 New York City  4190660.73             25167   4215412.23
 Los Angeles    4869364.41             29853   4897088.94
 San Francisco  7393701.96             45185   7437707.67

 Quantity of the product selled most with highest sales
                 Price Each  Quantity Ordered  Total Price
City
 San Francisco  7393701.96             45185   7437707.67

In [74]:
df.head(1)

,Order Date,Order ID,Price Each,Product,Purchase Address,Quantity Ordered,file,Total Price,City
0,08/31/19 22:21,236670,11.99,Wired Headphones,"359 Spruce St, Seattle, WA 98101",2,Sales_August,23.98,Seattle

## SOlution 3) What time is best to advertise

In [92]:
df[['Order Date','Time']]=df['Order Date'].str.split(" ",expand=True)
df.head(1)

,Order Date,Order ID,Price Each,Product,Purchase Address,Quantity Ordered,file,Total Price,Time
0,08/31/19,236670,11.99,Wired Headphones,"359 Spruce St, Seattle, WA 98101",2,Sales_August,23.98,22:21

In [93]:
df_time=df.groupby(df['Time'])
df_timesum=df_time.sum()
print(df_timesum)

       Price Each  Quantity Ordered  Total Price
Time
00:00    18319.53                80     18357.95
00:01    10910.32                69     10941.06
00:02    10451.03                73     10937.82
00:03    16722.03                82     16785.72
00:04    16627.68                85     16661.41
...           ...               ...          ...
23:55    15422.33                96     15494.55
23:56    17406.56                74     17445.46
23:57    12951.30                87     12986.74
23:58    17834.64                88     17874.77
23:59    15431.98                92     15460.59

[1440 rows x 3 columns]

In [95]:
print(df_timesum.sort_values(by='Quantity Ordered'))
print()
best_time=df_timesum.sort_values(by='Quantity Ordered')
print(" Best time to advertise to maximize the likelihood of the customer’s buying products \n",best_time.nlargest(5,'Quantity Ordered'))
print()

       Price Each  Quantity Ordered  Total Price
Time
04:05      277.72                 5       277.72
03:29      572.86                 6       572.86
03:23     1845.94                 7      1845.94
03:42     1659.86                 7      1659.86
03:28     1891.90                 7      1891.90
...           ...               ...          ...
13:06    40852.06               249     41057.09
19:20    41484.54               250     41642.25
13:25    34466.44               253     34640.67
19:17    41628.63               253     42333.22
11:26    47958.05               254     48107.07

[1440 rows x 3 columns]

 Best time to advertise to maximize the likelihood of the customer’s buying products
        Price Each  Quantity Ordered  Total Price
Time
11:26    47958.05               254     48107.07
13:25    34466.44               253     34640.67
19:17    41628.63               253     42333.22
19:20    41484.54               250     41642.25
13:06    40852.06               249     41057.09

## Question 4)  What products are most often sold together?

In [ ]:
# Implement this code for this question
# from collections import Counter
# language_counter=Counter()
# language_counter.update(df['LanguagesWorkedWith'])
# language_counter

In [ ]:
df_together=df[['Order ID','Product']]
df_together.head()

In [ ]:

df_together=df_together.groupby('Order ID')['Product'].apply(list).reset_index(name='new')
df_together.head(2)

In [ ]:
print(df_together.shape)
print(df_together.isnull().sum())

print(df_together.dropna(inplace=True))
print(df_together.shape)

In [ ]:
df_together['new'].value_counts()

In [ ]:
df_together['Length'] = df_together.new.apply(lambda x: len(x))

In [ ]:
df_final=df_together[df_together['Length']>1]
df_final

In [ ]:
df_final['liststring'] = df_final['new'].apply(lambda x: ','.join(map(str, x)))

In [ ]:
print(df_final.drop(columns='new'))

In [ ]:
# Create new column count with value 1
df_final.loc[:,'Count']=1

In [ ]:


df_final=df_final.groupby(df_final['liststring'])
df_sum=df_final.sum()
print(df_sum)

In [ ]:
print(df_sum.sort_values(by='count'))
print()
sell_together=df_sum.sort_values(by='count')
print(" product most sold together \n",sell_together.nlargest(1,'count'))
print()